/* .body {
  background-color: black;
} */
.a {
  width: 120px;
  height: 120px;
  border: 4px solid white;
  background: rgb(15, 128, 228);
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  gap: 10px;
}
.b {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 20px;
  border: 4px solid rgb(229, 56, 56);
}
.c {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 20px;
  border: 4px solid rgb(229, 56, 56);
}
.d {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 20px;
  border: 4px solid rgb(229, 56, 56);
}

.e {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 20px;
  border: 4px solid black;
  position: absolute;
  top: 13px;
  right: 1123px;
}

.f {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 20px;
  border: 4px solid black;
  position: absolute;
  top: 55px;
  right: 1123px;
}
.g {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 20px;
  border: 4px solid black;
  position: absolute;
  top: 100px;
  right: 1123px;
}
